<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    {{!-- Referenceing the google fonts --}}
	<link href="https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Shadows+Into+Light" rel="stylesheet">
	{{!-- Referencing the materialize --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    {{!-- Referencing the CSS --}}
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
	<title>Just Eat It</title>
</head>

<body>
	<img src="/assets/img/burger.png" width="100px" id="da_burger">
    {{!-- Where the burger_controller adds the burger --}}
	{{{ body }}}

	<footer class="Footer">
	</footer>
</body>
</html>