html {
    background-color: rgb(68, 218, 238);
}

body {
    width: 95%;
   margin: 0 auto; 

   
   
   background-color: rgb(255, 255, 255);
}

#da_burger {
    display: block;
   margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 55px;
    margin: 50px;
}

.burgerAva {
    font-family: 'Berkshire Swash', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 0px;/* Makes the button corners round */
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #ea81ff;
    border: none;
}

.burgerDevoured {
    font-family: 'Bree Sarif', serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 0px;/* Makes the button corners round */
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #c9ffff;
}

h3 {
     text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    margin: 50px;
}
h4 {
    text-align: center;
   font-family: 'Acme', sans-serif;
   font-size: 20px;
   margin: 30px;
}

.formContainer {
    background-color: rgb(68, 218, 238);
}

.addBurgerBtn {
    font-family: 'Acme', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    
    border-radius: 0px;/* Makes the button corners round */
    width: 30%;
    margin: 0;
    padding: 10px;
    background-color: rgb(68, 218, 238);
    border: none;
}


.Footer {
   background-color: rgb(68, 218, 238);
   padding: 20px 0;
}

.input {
    text-align: center;
    width: 30%;
}

#row1 {
    width: 70%;
}